.about-company {
  @include f-s-c;
  gap: 30px;
  padding: 30px 70px 0 100px;
  margin-bottom: 120px;
  @include tablet {
    padding: 30px 20px 0 50px;
  }
  @include tablet-small {
    flex-direction: column;
    margin-bottom: 80px;
  }
  @include mobile {
    padding: 0;
    margin-bottom: 50px;
  }
  &__foto {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    @include tablet-small {
      flex-wrap: nowrap;
    }
    @include mobile {
      gap: 10px;
    }
    @include mobile-small {
      flex-direction: column-reverse;
    }
    &-img {
      display: grid;
      gap: 30px;
      @include mobile {
        gap: 10px;
      }
    }
    img {
      flex-shrink: 0;
    }
  }
  &__info {
    max-width: 400px;
    &__title {
      font: var(--txt-300-64-ff);
      color: var(--color-title);
      margin-bottom: 20px;
      @include mobile-small {
        font: var(--txt-300-44-ff);
      }
    }
    &__desc {
      font: var(--txt-300-16-ff);
      color: var(--color-black);
      margin-bottom: 20px;
    }
    &__btn {
      font: var(--txt-400-12-ff);
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: var(--color-nav);
      background: var(--c-text-white);
      @include f-c-c;
      gap: 12px;
      width: 222px;
      height: 71px;
    }
  }
}
