:root {
  --html-fs: 1px;
  --transition: 0.2s all ease-in-out;
  --ff: "TT Hoves", sans-serif;
  --sf: "SF Pro Display", sans-serif;
  --tf: "Open Sans", sans-serif;
  --font3: "Gothic A1", sans-serif;

  --txt-300-64-ff: normal 300 64px / 100% var(--ff);
  --txt-300-44-ff: normal 300 44px / 100% var(--ff);
  --txt-300-34-ff: normal 300 34px / 100% var(--ff);
  --txt-300-28-ff: normal 300 28px / 100% var(--ff);
  --txt-300-16-ff: normal 300 16px / 156% var(--ff);

  --txt-400-24-ff: normal 400 24px / 100% var(--ff);
  --txt-400-22-ff: normal 400 22px / 164% var(--ff);
  --txt-400-12-ff: normal 400 12px / 100% var(--ff);

  --txt-700-64-ff: normal 700 64px / 100% var(--ff);
  --txt-700-44-ff: normal 700 44px / 100% var(--ff);
  --txt-700-34-ff: normal 700 34px / 100% var(--ff);
  --txt-700-28-ff: normal 700 28px / 100% var(--ff);

  --txt-900-200-sf: normal 900 200px / 100% var(--sf);

  --txt-400-12-font3: normal 400 12px / 100% var(--font3);
  
  --c-primary: #8842f0;
  --c-text-white: #fff;
  --c-color-txt: #e0e0e0;
  --color-desc: #f2f2f2;
  --color-title: #bdbdbd;
  --color-nav: #333;
  --color-black: #000;
  --background-arrow: #f9f9f9;
  --border-arrow: 1px solid #f2f2f2;
}
$color-nav: #333;