// vendors
@import "vendors/reset";

// utils
@import "utils/vars";
@import "utils/mixins";

// layout
@import "layout/base";
@import "layout/scroll";
@import "layout/grid";
@import "layout/stylesheet";

// components
@import "components/header";
@import "components/welcome";
@import "components/about-company";
@import "components/main-goals";
@import "components/footer";
